{% extends "base.html" %}
{% block title %}
Список курсов
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
	<div>
		<a href="/create-category/">Создать новую категорию</a>
	</div>

    <h1>Список категорий</h1>

    <ul>
        {% for item in objects_list %}
        <li>
            {{item.name}} <span>Количество курсов: {{item.get_course_count()}}</span>
            <a href="/courses/?category_uuid={{item.uuid}}">Список курсов</a>
            <a href="/create-course/?category_uuid={{item.uuid}}">Создать курс</a>
        </li>
        {% endfor %}
    </ul>

{% endblock %}