<div class="container">
    <form action="" method="post">
        <fieldset>
            <legend>Отправьте мне сообщение</legend>
            <div class="row">
                <div class="col-25">
                    <label for="name">Ваше имя:</label>
                </div>
                <div class="col-75">
                    <input type="text" name="name" id="name"><br/>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="email">Ваш email:</label>
                </div>
                <div class="col-75">
                    <input type="text" name="email" id="email">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="message">Сообщение:</label>
                </div>
                <div class="col-75">
                    <textarea name="message" rows="10" cols="30"></textarea>
                </div>

            </div>
            <br><br>
        </fieldset>
        <div class="submit"><input type="submit" value="Отправить"/></div>
    </form>
</div>