{% extends "base.html" %}
{% block title %}
Главная страница
{% endblock %}
{% block style %}
{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
<ul>
    <li>
        <a href="/create-category/">Создать новую категорию</a>
    </li>
    <li>
        <a href="/categories/">Список категорий</a>
    </li>
</ul>


<div>
    <h1>Список существующих категорий</h1>
    {% for item in objects_list %}
    <li>
        {{item.name}} <span>Количество курсов: {{item.get_course_count()}}</span>
        <a href="/courses/?id={{item.uuid}}">Показать курсы</a>
    </li>
    {% endfor %}
    <br>
    <hr>
</div>
<div>
    <ul>
        <li>
            <a href="/students/">Список студентов</a>
        </li>
        <li>
            <a href="/create-student/">Создать студента</a>
        </li>
        <li>
            <a href="/add-student/">Добавить студента на курс</a>
        </li>
    </ul>

</div>
{% endblock %}